# ETL

In [1]:
import pandas as pd

# DESTINO MUJERES

In [2]:
destino_mujeres = pd.read_csv('Proyecto-Final/Datasets/destino_mujeres.csv', skiprows = 10)
destino_mujeres

,Unnamed: 0,"Region, development group, country or area",Notes,Location code,Type of data,1990,1995,2000,2005,2010,2015,2020
0,1,WORLD,NaN,900,NaN,49.3,49.4,49.4,49.0,48.4,48.3,48.1
1,2,Sub-Saharan Africa,NaN,947,NaN,46.9,47.4,47.2,46.4,47.1,47.6,47.6
2,3,Northern Africa and Western Asia,NaN,1833,NaN,42.4,41.6,40.7,38.3,35.2,35.5,35.8
3,4,Central and Southern Asia,NaN,921,NaN,49.3,49.9,49.7,50.2,50.1,50.2,49.9
4,5,Eastern and South-Eastern Asia,NaN,1832,NaN,48.7,49.7,50.8,50.4,50.1,49.5,49.4
...,...,...,...,...,...,...,...,...,...,...,...,...
278,279,Samoa,NaN,882,B R,47.2,47.8,48.3,48.8,49.4,49.4,49.5
279,280,Tokelau*,40.0,772,B R,45.6,47.0,48.6,50.1,51.9,52.4,52.7
280,281,Tonga,NaN,776,B R,48.9,47.5,46.2,46.0,45.7,45.4,45.4
281,282,Tuvalu,NaN,798,C,43.4,43.7,44.5,45.0,45.0,45.2,44.8
282,283,Wallis and Futuna Islands*,41.0,876,B R,48.2,48.8,49.5,49.5,49.5,49.5,49.5

In [3]:
destino_mujeres.drop(['Unnamed: 0'], axis=1, inplace = True)
destino_mujeres

,"Region, development group, country or area",Notes,Location code,Type of data,1990,1995,2000,2005,2010,2015,2020
0,WORLD,NaN,900,NaN,49.3,49.4,49.4,49.0,48.4,48.3,48.1
1,Sub-Saharan Africa,NaN,947,NaN,46.9,47.4,47.2,46.4,47.1,47.6,47.6
2,Northern Africa and Western Asia,NaN,1833,NaN,42.4,41.6,40.7,38.3,35.2,35.5,35.8
3,Central and Southern Asia,NaN,921,NaN,49.3,49.9,49.7,50.2,50.1,50.2,49.9
4,Eastern and South-Eastern Asia,NaN,1832,NaN,48.7,49.7,50.8,50.4,50.1,49.5,49.4
...,...,...,...,...,...,...,...,...,...,...,...
278,Samoa,NaN,882,B R,47.2,47.8,48.3,48.8,49.4,49.4,49.5
279,Tokelau*,40.0,772,B R,45.6,47.0,48.6,50.1,51.9,52.4,52.7
280,Tonga,NaN,776,B R,48.9,47.5,46.2,46.0,45.7,45.4,45.4
281,Tuvalu,NaN,798,C,43.4,43.7,44.5,45.0,45.0,45.2,44.8
282,Wallis and Futuna Islands*,41.0,876,B R,48.2,48.8,49.5,49.5,49.5,49.5,49.5

In [4]:
destino_mujeres.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 283 entries, 0 to 282
Data columns (total 11 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Region, development group, country or area  283 non-null    object
 1   Notes                                       40 non-null     float64
 2   Location code                               283 non-null    int64
 3   Type of data                                232 non-null    object
 4   1990                                        283 non-null    object
 5   1995                                        283 non-null    object
 6   2000                                        283 non-null    object
 7   2005                                        283 non-null    object
 8   2010                                        283 non-null    object
 9   2015                                        283 non-null    object
 10  2020                                        283 non-null    object
dtypes: float64(1), int64(1), object(9)
memory usage: 24.4+ KB

In [5]:
destino_mujeres['Type of data'] = destino_mujeres['Type of data'].fillna('0')

In [6]:
destino_mujeres.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 283 entries, 0 to 282
Data columns (total 11 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Region, development group, country or area  283 non-null    object
 1   Notes                                       40 non-null     float64
 2   Location code                               283 non-null    int64
 3   Type of data                                283 non-null    object
 4   1990                                        283 non-null    object
 5   1995                                        283 non-null    object
 6   2000                                        283 non-null    object
 7   2005                                        283 non-null    object
 8   2010                                        283 non-null    object
 9   2015                                        283 non-null    object
 10  2020                                        283 non-null    object
dtypes: float64(1), int64(1), object(9)
memory usage: 24.4+ KB

In [7]:
columnas = ['1990', '1995', '2000', '2005', '2010', '2015', '2020']

In [8]:
for col in columnas:
    destino_mujeres[col] = pd.to_numeric(destino_mujeres[col], errors='coerce').fillna(0)

In [9]:
destino_mujeres

,"Region, development group, country or area",Notes,Location code,Type of data,1990,1995,2000,2005,2010,2015,2020
0,WORLD,NaN,900,0,49.3,49.4,49.4,49.0,48.4,48.3,48.1
1,Sub-Saharan Africa,NaN,947,0,46.9,47.4,47.2,46.4,47.1,47.6,47.6
2,Northern Africa and Western Asia,NaN,1833,0,42.4,41.6,40.7,38.3,35.2,35.5,35.8
3,Central and Southern Asia,NaN,921,0,49.3,49.9,49.7,50.2,50.1,50.2,49.9
4,Eastern and South-Eastern Asia,NaN,1832,0,48.7,49.7,50.8,50.4,50.1,49.5,49.4
...,...,...,...,...,...,...,...,...,...,...,...
278,Samoa,NaN,882,B R,47.2,47.8,48.3,48.8,49.4,49.4,49.5
279,Tokelau*,40.0,772,B R,45.6,47.0,48.6,50.1,51.9,52.4,52.7
280,Tonga,NaN,776,B R,48.9,47.5,46.2,46.0,45.7,45.4,45.4
281,Tuvalu,NaN,798,C,43.4,43.7,44.5,45.0,45.0,45.2,44.8
282,Wallis and Futuna Islands*,41.0,876,B R,48.2,48.8,49.5,49.5,49.5,49.5,49.5

In [10]:
destino_mujeres['Notes'] = destino_mujeres['Notes'].fillna('0')

In [11]:
destino_mujeres.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 283 entries, 0 to 282
Data columns (total 11 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Region, development group, country or area  283 non-null    object
 1   Notes                                       283 non-null    object
 2   Location code                               283 non-null    int64
 3   Type of data                                283 non-null    object
 4   1990                                        283 non-null    float64
 5   1995                                        283 non-null    float64
 6   2000                                        283 non-null    float64
 7   2005                                        283 non-null    float64
 8   2010                                        283 non-null    float64
 9   2015                                        283 non-null    float64
 10  2020                                        283 non-null    float64
dtypes: float64(7), int64(1), object(3)
memory usage: 24.4+ KB

In [12]:
year_columns = destino_mujeres.columns[4:]

destino_mujeres = pd.melt(destino_mujeres, id_vars=destino_mujeres.columns[:4], value_vars=year_columns, var_name='Year', value_name='Numero de Migrantes')

In [13]:
destino_mujeres

,"Region, development group, country or area",Notes,Location code,Type of data,Year,Numero de Migrantes
0,WORLD,0,900,0,1990,49.3
1,Sub-Saharan Africa,0,947,0,1990,46.9
2,Northern Africa and Western Asia,0,1833,0,1990,42.4
3,Central and Southern Asia,0,921,0,1990,49.3
4,Eastern and South-Eastern Asia,0,1832,0,1990,48.7
...,...,...,...,...,...,...
1976,Samoa,0,882,B R,2020,49.5
1977,Tokelau*,40.0,772,B R,2020,52.7
1978,Tonga,0,776,B R,2020,45.4
1979,Tuvalu,0,798,C,2020,44.8
1980,Wallis and Futuna Islands*,41.0,876,B R,2020,49.5

In [14]:
valores_unicos = destino_mujeres['Region, development group, country or area'].unique()
print(valores_unicos)

['WORLD' '  Sub-Saharan Africa' '  Northern Africa and Western Asia'
 '  Central and Southern Asia' '  Eastern and South-Eastern Asia'
 '  Latin America and the Caribbean'
 '  Oceania (excluding Australia and New Zealand)'
 '  Australia and New Zealand' '  Europe and Northern America'
 '  Developed regions' '  Less developed regions'
 ' Less developed regions, excluding least developed countries'
 ' Less developed regions, excluding China' '  Least developed countries'
 '  Land-locked Developing Countries (LLDC)'
 '  Small island developing States (SIDS)' '  High-income countries'
 '  Middle-income countries' ' Upper-middle-income countries'
 ' Lower-middle-income countries' '  Low-income countries' ' AFRICA'
 '  Eastern Africa' '   Burundi' '   Comoros' '   Djibouti' '   Eritrea'
 '   Ethiopia' '   Kenya' '   Madagascar' '   Malawi' '   Mauritius*'
 '   Mayotte*' '   Mozambique' '   RÃ©union*' '   Rwanda' '   Seychelles'
 '   Somalia' '   South Sudan' '   Uganda'
 '   United Republic of Tanzania*' '   Zambia' '   Zimbabwe'
 '  Middle Africa' '   Angola' '   Cameroon' '   Central African Republic'
 '   Chad' '   Congo' '   Democratic Republic of the Congo'
 '   Equatorial Guinea' '   Gabon' '   Sao Tome and Principe'
 '  Northern Africa' '   Algeria' '   Egypt' '   Libya' '   Morocco'
 '   Sudan' '   Tunisia' '   Western Sahara' '  Southern Africa'
 '   Botswana' '   Eswatini' '   Lesotho' '   Namibia' '   South Africa'
 '  Western Africa' '   Benin' '   Burkina Faso' '   Cabo Verde'
 "   CÃ´te d'Ivoire" '   Gambia' '   Ghana' '   Guinea' '   Guinea-Bissau'
 '   Liberia' '   Mali' '   Mauritania' '   Niger' '   Nigeria'
 '   Saint Helena*' '   Senegal' '   Sierra Leone' '   Togo' ' ASIA'
 '  Central Asia' '   Kazakhstan' '   Kyrgyzstan' '   Tajikistan'
 '   Turkmenistan' '   Uzbekistan' '  Eastern Asia' '   China*'
 '   China, Hong Kong SAR*' '   China, Macao SAR*'
 '   China, Taiwan Province of China*'
 "   Dem. People's Republic of Korea" '   Japan' '   Mongolia'
 '   Republic of Korea' '  South-Eastern Asia' '   Brunei Darussalam'
 '   Cambodia' '   Indonesia' "   Lao People's Democratic Republic"
 '   Malaysia*' '   Myanmar' '   Philippines' '   Singapore' '   Thailand'
 '   Timor-Leste' '   Viet Nam' '  Southern Asia' '   Afghanistan'
 '   Bangladesh' '   Bhutan' '   India' '   Iran (Islamic Republic of)'
 '   Maldives' '   Nepal' '   Pakistan' '   Sri Lanka' '  Western Asia'
 '   Armenia' '   Azerbaijan*' '   Bahrain' '   Cyprus*' '   Georgia*'
 '   Iraq' '   Israel' '   Jordan' '   Kuwait' '   Lebanon' '   Oman'
 '   Qatar' '   Saudi Arabia' '   State of Palestine*'
 '   Syrian Arab Republic' '   Turkey' '   United Arab Emirates'
 '   Yemen' ' EUROPE' '  Eastern Europe' '   Belarus' '   Bulgaria'
 '   Czechia' '   Hungary' '   Poland' '   Republic of Moldova*'
 '   Romania' '   Russian Federation' '   Slovakia' '   Ukraine*'
 '  Northern Europe' '   Channel Islands*' '   Denmark*' '   Estonia'
 '   Faroe Islands*' '   Finland*' '   Iceland' '   Ireland'
 '   Isle of Man*' '   Latvia' '   Lithuania' '   Norway*' '   Sweden'
 '   United Kingdom*' '  Southern Europe' '   Albania' '   Andorra'
 '   Bosnia and Herzegovina' '   Croatia' '   Gibraltar*' '   Greece'
 '   Holy See*' '   Italy' '   Malta' '   Montenegro' '   North Macedonia'
 '   Portugal' '   San Marino' '   Serbia*' '   Slovenia' '   Spain*'
 '  Western Europe' '   Austria' '   Belgium' '   France*' '   Germany'
 '   Liechtenstein' '   Luxembourg' '   Monaco' '   Netherlands*'
 '   Switzerland' ' LATIN AMERICA AND THE CARIBBEAN' '  Caribbean'
 '   Anguilla*' '   Antigua and Barbuda' '   Aruba*' '   Bahamas'
 '   Barbados' '   Bonaire, Sint Eustatius and Saba*'
 '   British Virgin Islands*' '   Cayman Islands*' '   Cuba' '   CuraÃ§ao*'
 '   Dominica' '   Dominican Republic' '   Grenada' '   Guadeloupe*'
 '   Haiti' '   Jamaica' '   Martinique*' '   Montserrat*'
 '   Puerto Rico*' '   Saint BarthÃ©lemy*' '   Saint Kitts and Nevis'
 '   Saint Lucia' '   Saint Martin (French part)*'
 '   Saint Vincent and the Grenadines' '   Sint Maarten (Dutch part)*'
 '   Trinidad and Tobago' '   Turks and Caicos Islands*'
 '   United States Virgin Islands*' '  Central America' '   Belize'
 '   Costa Rica' '   El Salvador' '   Guatemala' '   Honduras' '   Mexico'
 '   Nicaragua' '   Panama' '  South America' '   Argentina'
 '   Bolivia (Plurinational State of)' '   Brazil' '   Chile'
 '   Colombia' '   Ecuador' '   Falkland Islands (Malvinas)*'
 '   French Guiana*' '   Guyana' '   Paraguay' '   Peru' '   Suriname'
 '   Uruguay' '   Venezuela (Bolivarian Republic of)' ' NORTHERN AMERICA'
 '   Bermuda*' '   Canada' '   Greenland*' '   Saint Pierre and Miquelon*'
 '   United States of America*' ' OCEANIA ' '   Australia*'
 '   New Zealand*' '  Melanesia' '   Fiji' '   New Caledonia*'
 '   Papua New Guinea' '   Solomon Islands' '   Vanuatu' '  Micronesia'
 '   Guam*' '   Kiribati' '   Marshall Islands'
 '   Micronesia (Fed. States of)' '   Nauru'
 '   Northern Mariana Islands*' '   Palau' '  Polynesia*'
 '   American Samoa*' '   Cook Islands*' '   French Polynesia*' '   Niue*'
 '   Samoa' '   Tokelau*' '   Tonga' '   Tuvalu'
 '   Wallis and Futuna Islands*']

In [15]:
valores_a_eliminar = ['WORLD', 'Sub-Saharan Africa', 'Northern Africa and Western Asia',
                     'Central and Southern Asia', 'Eastern and South-Eastern Asia',
                     'Latin America and the Caribbean',
                     'Oceania (excluding Australia and New Zealand)',
                     'Australia and New Zealand', 'Europe and Northern America',
                     'Developed regions', 'Less developed regions',
                     'Less developed regions, excluding least developed countries',
                     'Less developed regions, excluding China',
                     'Least developed countries',
                     'Land-locked Developing Countries (LLDC)',
                     'Small island developing States (SIDS)',
                     'High-income countries', 'Middle-income countries',
                     'Upper-middle-income countries', 'Lower-middle-income countries',
                     'Low-income countries', 'AFRICA', 'Eastern Africa']

In [16]:
destino_mujeres_pais = destino_mujeres[~destino_mujeres['Region, development group, country or area'].str.strip().isin(valores_a_eliminar)].copy()
destino_mujeres_pais

,"Region, development group, country or area",Notes,Location code,Type of data,Year,Numero de Migrantes
23,Burundi,0,108,B R,1990,51.0
24,Comoros,0,174,B,1990,52.3
25,Djibouti,0,262,B R,1990,47.4
26,Eritrea,0,232,I R,1990,47.4
27,Ethiopia,0,231,B R,1990,47.4
...,...,...,...,...,...,...
1976,Samoa,0,882,B R,2020,49.5
1977,Tokelau*,40.0,772,B R,2020,52.7
1978,Tonga,0,776,B R,2020,45.4
1979,Tuvalu,0,798,C,2020,44.8
1980,Wallis and Futuna Islands*,41.0,876,B R,2020,49.5

In [41]:
destino_mujeres_region =  destino_mujeres.head(23).copy()

In [42]:
destino_mujeres_region

,"Region, development group, country or area",Notes,Location code,Type of data,Year,Numero de Migrantes
0,WORLD,0,900,0,1990,49.3
1,Sub-Saharan Africa,0,947,0,1990,46.9
2,Northern Africa and Western Asia,0,1833,0,1990,42.4
3,Central and Southern Asia,0,921,0,1990,49.3
4,Eastern and South-Eastern Asia,0,1832,0,1990,48.7
5,Latin America and the Caribbean,0,1830,0,1990,49.8
6,Oceania (excluding Australia and New Zealand),0,1835,0,1990,44.2
7,Australia and New Zealand,0,927,0,1990,49.2
8,Europe and Northern America,0,1829,0,1990,51.3
9,Developed regions,0,901,0,1990,51.2
10,Less developed regions,0,902,0,1990,47.1
11,"Less developed regions, excluding least devel...",0,934,0,1990,46.6
12,"Less developed regions, excluding China",0,948,0,1990,47.0
13,Least developed countries,0,941,0,1990,49.8
14,Land-locked Developing Countries (LLDC),0,1636,0,1990,53.3
15,Small island developing States (SIDS),0,1637,0,1990,47.5
16,High-income countries,0,1503,0,1990,48.5
17,Middle-income countries,0,1517,0,1990,50.1
18,Upper-middle-income countries,0,1502,0,1990,49.8
19,Lower-middle-income countries,0,1501,0,1990,50.5
20,Low-income countries,0,1500,0,1990,49.7
21,AFRICA,0,903,0,1990,47.2
22,Eastern Africa,0,910,0,1990,48.5

In [40]:
destino_mujeres

,"Region, development group, country or area",Notes,Location code,Type of data,Year,Numero de Migrantes
0,WORLD,0,900,0,1990,49.3
1,Sub-Saharan Africa,0,947,0,1990,46.9
2,Northern Africa and Western Asia,0,1833,0,1990,42.4
3,Central and Southern Asia,0,921,0,1990,49.3
4,Eastern and South-Eastern Asia,0,1832,0,1990,48.7
...,...,...,...,...,...,...
1976,Samoa,0,882,B R,2020,49.5
1977,Tokelau*,40.0,772,B R,2020,52.7
1978,Tonga,0,776,B R,2020,45.4
1979,Tuvalu,0,798,C,2020,44.8
1980,Wallis and Futuna Islands*,41.0,876,B R,2020,49.5

In [68]:
destino_mujeres_pais.to_csv('destino_mujeres_pais.csv', index = False)

In [69]:
destino_mujeres_region.to_csv('destino_mujeres_region.csv', index = False)

# DESTINO PORCENTAJE

In [43]:
destino_porcentaje = pd.read_csv('Proyecto-Final/Datasets/destino_porcentaje.csv', skiprows = 10)
destino_porcentaje

,Unnamed: 0,"Region, development group, country or area",Notes,Location code,Type of data,1990,1995,2000,2005,2010,...,2010.1,2015.1,2020.1,1990.2,1995.2,2000.2,2005.2,2010.2,2015.2,2020.2
0,1,WORLD,NaN,900,NaN,2.9,2.8,2.8,2.9,3.2,...,3.2,3.4,3.7,2.9,2.8,2.8,2.9,3.1,3.3,3.5
1,2,Sub-Saharan Africa,NaN,947,NaN,2.7,2.5,2.1,2.0,1.9,...,2.0,2.3,2.1,2.5,2.4,1.9,1.8,1.8,2.1,1.9
2,3,Northern Africa and Western Asia,NaN,1833,NaN,6.1,5.9,5.7,5.9,7.5,...,9.5,11.0,11.8,5.2,4.9,4.7,4.6,5.4,6.4,7.0
3,4,Central and Southern Asia,NaN,921,NaN,2.1,1.5,1.3,1.1,1.1,...,1.1,1.0,0.9,2.2,1.6,1.4,1.2,1.1,1.1,1.0
4,5,Eastern and South-Eastern Asia,NaN,1832,NaN,0.4,0.4,0.5,0.6,0.7,...,0.7,0.8,0.8,0.4,0.4,0.5,0.6,0.7,0.8,0.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278,279,Samoa,NaN,882,B R,2.1,2.8,3.4,3.2,2.8,...,2.7,2.2,2.0,2.0,2.7,3.5,3.2,2.8,2.3,2.1
279,280,Tokelau*,40.0,772,B R,22.4,33.6,45.9,82.7,99.9,...,..,..,..,..,..,..,..,..,..,..
280,281,Tonga,NaN,776,B R,3.1,3.4,3.8,4.3,4.4,...,4.8,4.3,3.9,3.0,3.3,3.5,3.9,4.1,3.6,3.2
281,282,Tuvalu,NaN,798,C,3.6,2.8,2.3,2.1,2.1,...,..,..,..,..,..,..,..,..,..,..
282,283,Wallis and Futuna Islands*,41.0,876,B R,10.2,12.0,13.7,14.7,16.6,...,..,..,..,..,..,..,..,..,..,..

In [44]:
destino_porcentaje.drop(['Unnamed: 0'], axis=1, inplace = True)
destino_porcentaje

,"Region, development group, country or area",Notes,Location code,Type of data,1990,1995,2000,2005,2010,2015,...,2010.1,2015.1,2020.1,1990.2,1995.2,2000.2,2005.2,2010.2,2015.2,2020.2
0,WORLD,NaN,900,NaN,2.9,2.8,2.8,2.9,3.2,3.4,...,3.2,3.4,3.7,2.9,2.8,2.8,2.9,3.1,3.3,3.5
1,Sub-Saharan Africa,NaN,947,NaN,2.7,2.5,2.1,2.0,1.9,2.2,...,2.0,2.3,2.1,2.5,2.4,1.9,1.8,1.8,2.1,1.9
2,Northern Africa and Western Asia,NaN,1833,NaN,6.1,5.9,5.7,5.9,7.5,8.7,...,9.5,11.0,11.8,5.2,4.9,4.7,4.6,5.4,6.4,7.0
3,Central and Southern Asia,NaN,921,NaN,2.1,1.5,1.3,1.1,1.1,1.0,...,1.1,1.0,0.9,2.2,1.6,1.4,1.2,1.1,1.1,1.0
4,Eastern and South-Eastern Asia,NaN,1832,NaN,0.4,0.4,0.5,0.6,0.7,0.8,...,0.7,0.8,0.8,0.4,0.4,0.5,0.6,0.7,0.8,0.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278,Samoa,NaN,882,B R,2.1,2.8,3.4,3.2,2.8,2.2,...,2.7,2.2,2.0,2.0,2.7,3.5,3.2,2.8,2.3,2.1
279,Tokelau*,40.0,772,B R,22.4,33.6,45.9,82.7,99.9,95.0,...,..,..,..,..,..,..,..,..,..,..
280,Tonga,NaN,776,B R,3.1,3.4,3.8,4.3,4.4,3.9,...,4.8,4.3,3.9,3.0,3.3,3.5,3.9,4.1,3.6,3.2
281,Tuvalu,NaN,798,C,3.6,2.8,2.3,2.1,2.1,2.1,...,..,..,..,..,..,..,..,..,..,..
282,Wallis and Futuna Islands*,41.0,876,B R,10.2,12.0,13.7,14.7,16.6,16.7,...,..,..,..,..,..,..,..,..,..,..

In [45]:
destino_porcentaje.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 283 entries, 0 to 282
Data columns (total 25 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Region, development group, country or area  283 non-null    object
 1   Notes                                       40 non-null     float64
 2   Location code                               283 non-null    int64
 3   Type of data                                232 non-null    object
 4   1990                                        283 non-null    object
 5   1995                                        283 non-null    object
 6   2000                                        283 non-null    object
 7   2005                                        283 non-null    object
 8   2010                                        283 non-null    object
 9   2015                                        283 non-null    object
 10  2020                                        283 non-null    object
 11  1990.1                                      283 non-null    object
 12  1995.1                                      283 non-null    object
 13  2000.1                                      283 non-null    object
 14  2005.1                                      283 non-null    object
 15  2010.1                                      283 non-null    object
 16  2015.1                                      283 non-null    object
 17  2020.1                                      283 non-null    object
 18  1990.2                                      283 non-null    object
 19  1995.2                                      283 non-null    object
 20  2000.2                                      283 non-null    object
 21  2005.2                                      283 non-null    object
 22  2010.2                                      283 non-null    object
 23  2015.2                                      283 non-null    object
 24  2020.2                                      283 non-null    object
dtypes: float64(1), int64(1), object(23)
memory usage: 55.4+ KB

In [46]:
destino_porcentaje[['1990', '1990.1', '1990.2']]

     1990 1990.1 1990.2
0     2.9    2.9    2.9
1     2.7    2.9    2.5
2     6.1    7.0    5.2
3     2.1    2.1    2.2
4     0.4    0.4    0.4
..    ...    ...    ...
278   2.1    2.1    2.0
279  22.4     ..     ..
280   3.1    3.1    3.0
281   3.6     ..     ..
282  10.2     ..     ..

[283 rows x 3 columns]

In [47]:
destino_porcentaje['Notes'] = destino_porcentaje['Notes'].fillna('0')

In [48]:
destino_porcentaje['Type of data'] = destino_porcentaje['Type of data'].fillna('0')
destino_porcentaje.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 283 entries, 0 to 282
Data columns (total 25 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Region, development group, country or area  283 non-null    object
 1   Notes                                       283 non-null    object
 2   Location code                               283 non-null    int64
 3   Type of data                                283 non-null    object
 4   1990                                        283 non-null    object
 5   1995                                        283 non-null    object
 6   2000                                        283 non-null    object
 7   2005                                        283 non-null    object
 8   2010                                        283 non-null    object
 9   2015                                        283 non-null    object
 10  2020                                        283 non-null    object
 11  1990.1                                      283 non-null    object
 12  1995.1                                      283 non-null    object
 13  2000.1                                      283 non-null    object
 14  2005.1                                      283 non-null    object
 15  2010.1                                      283 non-null    object
 16  2015.1                                      283 non-null    object
 17  2020.1                                      283 non-null    object
 18  1990.2                                      283 non-null    object
 19  1995.2                                      283 non-null    object
 20  2000.2                                      283 non-null    object
 21  2005.2                                      283 non-null    object
 22  2010.2                                      283 non-null    object
 23  2015.2                                      283 non-null    object
 24  2020.2                                      283 non-null    object
dtypes: int64(1), object(24)
memory usage: 55.4+ KB

In [49]:
columnas = ['1990', '1995', '2000', '2005', '2010', '2015', '2020', '1990.1', '1995.1', '2000.1', '2005.1', '2010.1', '2015.1', '2020.1', '1990.2', '1995.2', '2000.2', '2005.2', '2010.2', '2015.2', '2020.2']

In [50]:
for col in columnas:
    destino_porcentaje[col] = pd.to_numeric(destino_porcentaje[col], errors='coerce').fillna(0)

In [51]:
destino_porcentaje.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 283 entries, 0 to 282
Data columns (total 25 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Region, development group, country or area  283 non-null    object
 1   Notes                                       283 non-null    object
 2   Location code                               283 non-null    int64
 3   Type of data                                283 non-null    object
 4   1990                                        283 non-null    float64
 5   1995                                        283 non-null    float64
 6   2000                                        283 non-null    float64
 7   2005                                        283 non-null    float64
 8   2010                                        283 non-null    float64
 9   2015                                        283 non-null    float64
 10  2020                                        283 non-null    float64
 11  1990.1                                      283 non-null    float64
 12  1995.1                                      283 non-null    float64
 13  2000.1                                      283 non-null    float64
 14  2005.1                                      283 non-null    float64
 15  2010.1                                      283 non-null    float64
 16  2015.1                                      283 non-null    float64
 17  2020.1                                      283 non-null    float64
 18  1990.2                                      283 non-null    float64
 19  1995.2                                      283 non-null    float64
 20  2000.2                                      283 non-null    float64
 21  2005.2                                      283 non-null    float64
 22  2010.2                                      283 non-null    float64
 23  2015.2                                      283 non-null    float64
 24  2020.2                                      283 non-null    float64
dtypes: float64(21), int64(1), object(3)
memory usage: 55.4+ KB

In [52]:
(destino_porcentaje['1990'] == 0).sum()

9

In [53]:
columnas_excluidas = ['Region, development group, country or area', 'Notes', 'Location code', 'Type of data']

In [54]:
for col in destino_porcentaje.columns:
    if col not in columnas_excluidas:
        if col.endswith('.1'):
            new_col = col.replace('.1', 'H')
        elif col.endswith('.2'):
            new_col = col.replace('.2', 'M')
        else:
            new_col = col + 'C'
        destino_porcentaje.rename(columns={col: new_col}, inplace=True)

In [55]:
destino_porcentaje

,"Region, development group, country or area",Notes,Location code,Type of data,1990C,1995C,2000C,2005C,2010C,2015C,...,2010H,2015H,2020H,1990M,1995M,2000M,2005M,2010M,2015M,2020M
0,WORLD,0,900,0,2.9,2.8,2.8,2.9,3.2,3.4,...,3.2,3.4,3.7,2.9,2.8,2.8,2.9,3.1,3.3,3.5
1,Sub-Saharan Africa,0,947,0,2.7,2.5,2.1,2.0,1.9,2.2,...,2.0,2.3,2.1,2.5,2.4,1.9,1.8,1.8,2.1,1.9
2,Northern Africa and Western Asia,0,1833,0,6.1,5.9,5.7,5.9,7.5,8.7,...,9.5,11.0,11.8,5.2,4.9,4.7,4.6,5.4,6.4,7.0
3,Central and Southern Asia,0,921,0,2.1,1.5,1.3,1.1,1.1,1.0,...,1.1,1.0,0.9,2.2,1.6,1.4,1.2,1.1,1.1,1.0
4,Eastern and South-Eastern Asia,0,1832,0,0.4,0.4,0.5,0.6,0.7,0.8,...,0.7,0.8,0.8,0.4,0.4,0.5,0.6,0.7,0.8,0.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278,Samoa,0,882,B R,2.1,2.8,3.4,3.2,2.8,2.2,...,2.7,2.2,2.0,2.0,2.7,3.5,3.2,2.8,2.3,2.1
279,Tokelau*,40.0,772,B R,22.4,33.6,45.9,82.7,99.9,95.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
280,Tonga,0,776,B R,3.1,3.4,3.8,4.3,4.4,3.9,...,4.8,4.3,3.9,3.0,3.3,3.5,3.9,4.1,3.6,3.2
281,Tuvalu,0,798,C,3.6,2.8,2.3,2.1,2.1,2.1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
282,Wallis and Futuna Islands*,41.0,876,B R,10.2,12.0,13.7,14.7,16.6,16.7,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [56]:
valores_unicosp = destino_porcentaje['Region, development group, country or area'].unique()
print(valores_unicosp)

['WORLD' '  Sub-Saharan Africa' '  Northern Africa and Western Asia'
 '  Central and Southern Asia' '  Eastern and South-Eastern Asia'
 '  Latin America and the Caribbean'
 '  Oceania (excluding Australia and New Zealand)'
 '  Australia and New Zealand' '  Europe and Northern America'
 '  Developed regions' '  Less developed regions'
 ' Less developed regions, excluding least developed countries'
 ' Less developed regions, excluding China' '  Least developed countries'
 '  Land-locked Developing Countries (LLDC)'
 '  Small island developing States (SIDS)' '  High-income countries'
 '  Middle-income countries' ' Upper-middle-income countries'
 ' Lower-middle-income countries' '  Low-income countries' ' AFRICA'
 '  Eastern Africa' '   Burundi' '   Comoros' '   Djibouti' '   Eritrea'
 '   Ethiopia' '   Kenya' '   Madagascar' '   Malawi' '   Mauritius*'
 '   Mayotte*' '   Mozambique' '   RÃ©union*' '   Rwanda' '   Seychelles'
 '   Somalia' '   South Sudan' '   Uganda'
 '   United Republic of Tanzania*' '   Zambia' '   Zimbabwe'
 '  Middle Africa' '   Angola' '   Cameroon' '   Central African Republic'
 '   Chad' '   Congo' '   Democratic Republic of the Congo'
 '   Equatorial Guinea' '   Gabon' '   Sao Tome and Principe'
 '  Northern Africa' '   Algeria' '   Egypt' '   Libya' '   Morocco'
 '   Sudan' '   Tunisia' '   Western Sahara' '  Southern Africa'
 '   Botswana' '   Eswatini' '   Lesotho' '   Namibia' '   South Africa'
 '  Western Africa' '   Benin' '   Burkina Faso' '   Cabo Verde'
 "   CÃ´te d'Ivoire" '   Gambia' '   Ghana' '   Guinea' '   Guinea-Bissau'
 '   Liberia' '   Mali' '   Mauritania' '   Niger' '   Nigeria'
 '   Saint Helena*' '   Senegal' '   Sierra Leone' '   Togo' ' ASIA'
 '  Central Asia' '   Kazakhstan' '   Kyrgyzstan' '   Tajikistan'
 '   Turkmenistan' '   Uzbekistan' '  Eastern Asia' '   China*'
 '   China, Hong Kong SAR*' '   China, Macao SAR*'
 '   China, Taiwan Province of China*'
 "   Dem. People's Republic of Korea" '   Japan' '   Mongolia'
 '   Republic of Korea' '  South-Eastern Asia' '   Brunei Darussalam'
 '   Cambodia' '   Indonesia' "   Lao People's Democratic Republic"
 '   Malaysia*' '   Myanmar' '   Philippines' '   Singapore' '   Thailand'
 '   Timor-Leste' '   Viet Nam' '  Southern Asia' '   Afghanistan'
 '   Bangladesh' '   Bhutan' '   India' '   Iran (Islamic Republic of)'
 '   Maldives' '   Nepal' '   Pakistan' '   Sri Lanka' '  Western Asia'
 '   Armenia' '   Azerbaijan*' '   Bahrain' '   Cyprus*' '   Georgia*'
 '   Iraq' '   Israel' '   Jordan' '   Kuwait' '   Lebanon' '   Oman'
 '   Qatar' '   Saudi Arabia' '   State of Palestine*'
 '   Syrian Arab Republic' '   Turkey' '   United Arab Emirates'
 '   Yemen' ' EUROPE' '  Eastern Europe' '   Belarus' '   Bulgaria'
 '   Czechia' '   Hungary' '   Poland' '   Republic of Moldova*'
 '   Romania' '   Russian Federation' '   Slovakia' '   Ukraine*'
 '  Northern Europe' '   Channel Islands*' '   Denmark*' '   Estonia'
 '   Faroe Islands*' '   Finland*' '   Iceland' '   Ireland'
 '   Isle of Man*' '   Latvia' '   Lithuania' '   Norway*' '   Sweden'
 '   United Kingdom*' '  Southern Europe' '   Albania' '   Andorra'
 '   Bosnia and Herzegovina' '   Croatia' '   Gibraltar*' '   Greece'
 '   Holy See*' '   Italy' '   Malta' '   Montenegro' '   North Macedonia'
 '   Portugal' '   San Marino' '   Serbia*' '   Slovenia' '   Spain*'
 '  Western Europe' '   Austria' '   Belgium' '   France*' '   Germany'
 '   Liechtenstein' '   Luxembourg' '   Monaco' '   Netherlands*'
 '   Switzerland' ' LATIN AMERICA AND THE CARIBBEAN' '  Caribbean'
 '   Anguilla*' '   Antigua and Barbuda' '   Aruba*' '   Bahamas'
 '   Barbados' '   Bonaire, Sint Eustatius and Saba*'
 '   British Virgin Islands*' '   Cayman Islands*' '   Cuba' '   CuraÃ§ao*'
 '   Dominica' '   Dominican Republic' '   Grenada' '   Guadeloupe*'
 '   Haiti' '   Jamaica' '   Martinique*' '   Montserrat*'
 '   Puerto Rico*' '   Saint BarthÃ©lemy*' '   Saint Kitts and Nevis'
 '   Saint Lucia' '   Saint Martin (French part)*'
 '   Saint Vincent and the Grenadines' '   Sint Maarten (Dutch part)*'
 '   Trinidad and Tobago' '   Turks and Caicos Islands*'
 '   United States Virgin Islands*' '  Central America' '   Belize'
 '   Costa Rica' '   El Salvador' '   Guatemala' '   Honduras' '   Mexico'
 '   Nicaragua' '   Panama' '  South America' '   Argentina'
 '   Bolivia (Plurinational State of)' '   Brazil' '   Chile'
 '   Colombia' '   Ecuador' '   Falkland Islands (Malvinas)*'
 '   French Guiana*' '   Guyana' '   Paraguay' '   Peru' '   Suriname'
 '   Uruguay' '   Venezuela (Bolivarian Republic of)' ' NORTHERN AMERICA'
 '   Bermuda*' '   Canada' '   Greenland*' '   Saint Pierre and Miquelon*'
 '   United States of America*' ' OCEANIA ' '   Australia*'
 '   New Zealand*' '  Melanesia' '   Fiji' '   New Caledonia*'
 '   Papua New Guinea' '   Solomon Islands' '   Vanuatu' '  Micronesia'
 '   Guam*' '   Kiribati' '   Marshall Islands'
 '   Micronesia (Fed. States of)' '   Nauru'
 '   Northern Mariana Islands*' '   Palau' '  Polynesia*'
 '   American Samoa*' '   Cook Islands*' '   French Polynesia*' '   Niue*'
 '   Samoa' '   Tokelau*' '   Tonga' '   Tuvalu'
 '   Wallis and Futuna Islands*']

In [57]:
destino_porcentaje_pais = destino_porcentaje[~destino_porcentaje['Region, development group, country or area'].str.strip().isin(valores_a_eliminar)].copy()
destino_porcentaje_pais

,"Region, development group, country or area",Notes,Location code,Type of data,1990C,1995C,2000C,2005C,2010C,2015C,...,2010H,2015H,2020H,1990M,1995M,2000M,2005M,2010M,2015M,2020M
23,Burundi,0,108,B R,6.1,4.3,2.0,2.6,2.9,2.9,...,2.8,2.9,2.9,6.1,4.3,2.0,2.6,2.9,3.0,2.9
24,Comoros,0,174,B,3.4,2.9,2.5,2.2,1.8,1.6,...,1.7,1.5,1.4,3.6,3.1,2.7,2.3,1.9,1.7,1.5
25,Djibouti,0,262,B R,20.7,15.8,14.0,11.8,12.2,12.3,...,12.0,12.2,12.1,19.8,15.1,13.3,10.5,12.4,12.4,12.1
26,Eritrea,0,232,I R,0.5,0.6,0.6,0.6,0.5,0.5,...,0.5,0.5,0.4,0.5,0.5,0.5,0.5,0.4,0.4,0.3
27,Ethiopia,0,231,B R,2.4,1.4,0.9,0.7,0.6,1.2,...,0.7,1.2,0.9,2.3,1.3,0.9,0.6,0.6,1.1,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278,Samoa,0,882,B R,2.1,2.8,3.4,3.2,2.8,2.2,...,2.7,2.2,2.0,2.0,2.7,3.5,3.2,2.8,2.3,2.1
279,Tokelau*,40.0,772,B R,22.4,33.6,45.9,82.7,99.9,95.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
280,Tonga,0,776,B R,3.1,3.4,3.8,4.3,4.4,3.9,...,4.8,4.3,3.9,3.0,3.3,3.5,3.9,4.1,3.6,3.2
281,Tuvalu,0,798,C,3.6,2.8,2.3,2.1,2.1,2.1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
282,Wallis and Futuna Islands*,41.0,876,B R,10.2,12.0,13.7,14.7,16.6,16.7,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [58]:
destino_porcentaje_region =  destino_porcentaje.head(23).copy()
destino_porcentaje_region

,"Region, development group, country or area",Notes,Location code,Type of data,1990C,1995C,2000C,2005C,2010C,2015C,...,2010H,2015H,2020H,1990M,1995M,2000M,2005M,2010M,2015M,2020M
0,WORLD,0,900,0,2.9,2.8,2.8,2.9,3.2,3.4,...,3.2,3.4,3.7,2.9,2.8,2.8,2.9,3.1,3.3,3.5
1,Sub-Saharan Africa,0,947,0,2.7,2.5,2.1,2.0,1.9,2.2,...,2.0,2.3,2.1,2.5,2.4,1.9,1.8,1.8,2.1,1.9
2,Northern Africa and Western Asia,0,1833,0,6.1,5.9,5.7,5.9,7.5,8.7,...,9.5,11.0,11.8,5.2,4.9,4.7,4.6,5.4,6.4,7.0
3,Central and Southern Asia,0,921,0,2.1,1.5,1.3,1.1,1.1,1.0,...,1.1,1.0,0.9,2.2,1.6,1.4,1.2,1.1,1.1,1.0
4,Eastern and South-Eastern Asia,0,1832,0,0.4,0.4,0.5,0.6,0.7,0.8,...,0.7,0.8,0.8,0.4,0.4,0.5,0.6,0.7,0.8,0.8
5,Latin America and the Caribbean,0,1830,0,1.6,1.4,1.3,1.3,1.4,1.5,...,1.4,1.5,2.3,1.6,1.4,1.2,1.3,1.4,1.5,2.2
6,Oceania (excluding Australia and New Zealand),0,1835,0,3.7,3.6,3.5,3.3,2.9,2.7,...,3.0,2.8,2.6,3.4,3.4,3.3,3.1,2.7,2.6,2.4
7,Australia and New Zealand,0,927,0,22.0,21.9,22.2,23.5,25.8,27.2,...,25.6,27.1,29.7,21.5,21.6,22.2,23.7,25.9,27.3,30.1
8,Europe and Northern America,0,1829,0,7.7,8.5,9.4,10.3,11.3,11.9,...,11.3,11.7,12.9,7.7,8.5,9.3,10.2,11.3,12.0,13.1
9,Developed regions,0,901,0,7.2,7.9,8.7,9.6,10.6,11.2,...,10.6,11.1,12.3,7.2,7.9,8.7,9.6,10.6,11.3,12.4
10,Less developed regions,0,902,0,1.7,1.5,1.4,1.4,1.6,1.8,...,1.7,1.9,2.1,1.6,1.4,1.3,1.3,1.4,1.6,1.7
11,"Less developed regions, excluding least devel...",0,934,0,1.6,1.4,1.4,1.4,1.6,1.8,...,1.8,2.0,2.2,1.5,1.3,1.3,1.3,1.4,1.6,1.7
12,"Less developed regions, excluding China",0,948,0,2.3,2.0,1.8,1.8,2.0,2.2,...,2.2,2.5,2.6,2.2,1.9,1.7,1.6,1.8,1.9,2.1
13,Least developed countries,0,941,0,2.2,2.0,1.5,1.3,1.2,1.4,...,1.2,1.4,1.5,2.2,2.0,1.5,1.3,1.2,1.4,1.5
14,Land-locked Developing Countries (LLDC),0,1636,0,5.3,4.1,3.4,3.1,2.8,2.9,...,2.7,2.9,2.7,5.6,4.4,3.7,3.3,2.9,3.0,2.9
15,Small island developing States (SIDS),0,1637,0,4.6,5.1,5.7,6.4,7.2,7.7,...,7.4,7.9,8.3,4.4,5.0,5.7,6.3,7.0,7.4,7.5
16,High-income countries,0,1503,0,7.4,8.3,9.3,10.5,12.1,13.1,...,12.7,13.7,15.5,7.1,7.9,8.9,10.1,11.5,12.4,13.9
17,Middle-income countries,0,1517,0,1.7,1.5,1.4,1.3,1.3,1.4,...,1.3,1.4,1.5,1.7,1.5,1.4,1.3,1.3,1.4,1.4
18,Upper-middle-income countries,0,1502,0,1.6,1.5,1.4,1.5,1.6,1.8,...,1.6,1.9,2.0,1.6,1.5,1.4,1.5,1.5,1.7,1.9
19,Lower-middle-income countries,0,1501,0,1.8,1.5,1.3,1.1,1.1,1.0,...,1.0,1.0,0.9,1.9,1.5,1.3,1.2,1.1,1.0,1.0
20,Low-income countries,0,1500,0,3.0,2.6,1.8,1.6,1.7,1.7,...,1.7,1.7,1.8,3.0,2.5,1.8,1.6,1.6,1.7,1.8
21,AFRICA,0,903,0,2.5,2.3,1.9,1.8,1.7,1.9,...,1.8,2.1,2.0,2.3,2.2,1.7,1.6,1.6,1.8,1.8
22,Eastern Africa,0,910,0,3.0,2.2,1.9,1.6,1.4,1.7,...,1.4,1.7,1.7,2.9,2.1,1.8,1.5,1.4,1.7,1.7

In [59]:
year_columns = destino_porcentaje_pais.columns[4:]

destino_porcentaje_pais = pd.melt(destino_porcentaje_pais, id_vars=destino_porcentaje_pais.columns[:4], value_vars=year_columns, var_name='Year', value_name='Numero de Migrantes')

In [60]:
destino_porcentaje_pais['GÃ©nero'] = destino_porcentaje_pais['Year'].apply(lambda x: 'Hombres' if x.endswith('H') else ('Mujeres' if x.endswith('M') else 'Combinado'))

In [61]:
destino_porcentaje_pais

,"Region, development group, country or area",Notes,Location code,Type of data,Year,Numero de Migrantes,GÃ©nero
0,Burundi,0,108,B R,1990C,6.1,Combinado
1,Comoros,0,174,B,1990C,3.4,Combinado
2,Djibouti,0,262,B R,1990C,20.7,Combinado
3,Eritrea,0,232,I R,1990C,0.5,Combinado
4,Ethiopia,0,231,B R,1990C,2.4,Combinado
...,...,...,...,...,...,...,...
5434,Samoa,0,882,B R,2020M,2.1,Mujeres
5435,Tokelau*,40.0,772,B R,2020M,0.0,Mujeres
5436,Tonga,0,776,B R,2020M,3.2,Mujeres
5437,Tuvalu,0,798,C,2020M,0.0,Mujeres
5438,Wallis and Futuna Islands*,41.0,876,B R,2020M,0.0,Mujeres

In [62]:
year_columns = destino_porcentaje_region.columns[4:]

destino_porcentaje_region = pd.melt(destino_porcentaje_region, id_vars=destino_porcentaje_region.columns[:4], value_vars=year_columns, var_name='Year', value_name='Numero de Migrantes')

In [63]:
destino_porcentaje_region['GÃ©nero'] = destino_porcentaje_region['Year'].apply(lambda x: 'Hombres' if x.endswith('H') else ('Mujeres' if x.endswith('M') else 'Combinado'))

In [64]:
destino_porcentaje_region

,"Region, development group, country or area",Notes,Location code,Type of data,Year,Numero de Migrantes,GÃ©nero
0,WORLD,0,900,0,1990C,2.9,Combinado
1,Sub-Saharan Africa,0,947,0,1990C,2.7,Combinado
2,Northern Africa and Western Asia,0,1833,0,1990C,6.1,Combinado
3,Central and Southern Asia,0,921,0,1990C,2.1,Combinado
4,Eastern and South-Eastern Asia,0,1832,0,1990C,0.4,Combinado
...,...,...,...,...,...,...,...
478,Upper-middle-income countries,0,1502,0,2020M,1.9,Mujeres
479,Lower-middle-income countries,0,1501,0,2020M,1.0,Mujeres
480,Low-income countries,0,1500,0,2020M,1.8,Mujeres
481,AFRICA,0,903,0,2020M,1.8,Mujeres
482,Eastern Africa,0,910,0,2020M,1.7,Mujeres

In [35]:
destino_porcentaje

,"Region, development group, country or area",Notes,Location code,Type of data,Year,Numero de Migrantes,GÃ©nero
0,WORLD,0,900,0,1990C,2.9,Combinado
1,Sub-Saharan Africa,0,947,0,1990C,2.7,Combinado
2,Northern Africa and Western Asia,0,1833,0,1990C,6.1,Combinado
3,Central and Southern Asia,0,921,0,1990C,2.1,Combinado
4,Eastern and South-Eastern Asia,0,1832,0,1990C,0.4,Combinado
...,...,...,...,...,...,...,...
5938,Samoa,0,882,B R,2020M,2.1,Mujeres
5939,Tokelau*,40.0,772,B R,2020M,0.0,Mujeres
5940,Tonga,0,776,B R,2020M,3.2,Mujeres
5941,Tuvalu,0,798,C,2020M,0.0,Mujeres
5942,Wallis and Futuna Islands*,41.0,876,B R,2020M,0.0,Mujeres

In [67]:
destino_porcentaje_pais.to_csv('destino_porcentaje_pais.csv', index = False)

In [66]:
destino_porcentaje_region.to_csv('destino_porcentaje_region.csv', index = False)